<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/base}">
<head>
    <title>提现管理</title>
</head>
<body>

<th:block layout:fragment="inlinestyle">
    <link rel="stylesheet"
          th:href="${application.static + '/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css'}"/>
</th:block>

<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a th:href="@{/admin/index}">主页</a>
    </li>
    <li class="active">提现管理</li>
</ul>

<div layout:fragment="content">

    <div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue">提现管理</h3>

            <div class="clearfix">
                <div class="pull-right tableTools-container"></div>
            </div>

            <div class="table-container">
                <table id="tbData" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr role="row" class="heading">
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace group-checkable"/>
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>提现ID</th>
                        <th>用户</th>
                        <th>银行卡</th>
                        <th>提现金额</th>
                        <th>创建时间</th>
                        <th>处理时间</th>
                        <th>当前状态</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>

                    <tr role="row" class="filter">
                        <td></td>
                        <td></td>
                        <td>
                            <div class="input-group input-medium">
                                <input placeholder="手机号" name="phone" class="form-control form-filter" type="text"/>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="btn btn-sm btn-warning filter-submit margin-bottom">
                                <i class="fa fa-search"></i> 搜索
                            </button>
                        </td>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>


            </div>
        </div>
    </div>
    <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-dialog-buttons ui-draggable ui-resizable"
         tabindex="-1" role="dialog" aria-describedby="dialog-message" aria-labelledby="ui-id-34"
         style="position: absolute; height: auto; width: 300px; top: 39px; left: 802px; display: none;">
        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle"><span
                id="ui-id-34" class="ui-dialog-title"><div class="widget-header widget-header-small"><h4
                class="smaller"><i class="ace-icon fa fa-check"></i> jQuery UI Dialog</h4></div></span>
            <button type="button"
                    class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close"
                    role="button" title="Close"><span
                    class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span
                    class="ui-button-text">Close</span></button>
        </div>
        <div id="dialog-message" class="ui-dialog-content ui-widget-content"
             style="width: auto; min-height: 30px; max-height: none; height: auto;">
            <p>
                This is the default dialog which is useful for displaying information. The dialog window can be moved,
                resized and closed with the 'x' icon.
            </p>

            <div class="hr hr-12 hr-double"></div>

            <p>
                Currently using
                <b>36% of your storage space</b>.
            </p>
        </div>
        <div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
        <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
        <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
        <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se"
             style="z-index: 90;"></div>
        <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div>
        <div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div>
        <div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <button type="button"
                        class="btn btn-minier ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                        role="button"><span class="ui-button-text">Cancel</span></button>
                <button type="button"
                        class="btn btn-primary btn-minier ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                        role="button"><span class="ui-button-text">OK</span></button>
            </div>
        </div>
    </div>
    <div th:replace="admin/draw/add"></div>

</div>

<th:block layout:fragment="pagescript">
    <script type="text/javascript"
            th:src="${application.static + '/components/datatables-latest/js/jquery.dataTables.min.js'}"></script>
    <script type="text/javascript"
            th:src="${application.static + '/components/datatables-latest/js/dataTables.bootstrap.min.js'}"></script>
    <script type="text/javascript"
            th:src="${application.static + '/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js'}"></script>
    <script type="text/javascript"
            th:src="${application.static + '/components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js'}"></script>
    <script th:src="@{/js/util/datatable.js}"></script>
</th:block>

<th:block layout:fragment="inlinescript">
    <script>
        var fnInitTable = function () {
            var grid = new Datatable();
            grid.init({
                src: $("#tbData"),
                onSuccess: function (grid, response) {
                    // grid:        grid object
                    // response:    json object of server side ajax response
                    // execute some code after table records loaded
                },
                onError: function (grid) {
                    // execute some code on network or other general error
                },
                onDataLoad: function (grid) {
                    // execute some code on ajax data load
                },

                dataTable: {
                    columns: [
                        {
                            data: 'id',
                            className: 'center',
                            render: function (data, type, full, meta) {
                                return "<label class='pos-rel'><input type='checkbox' class='ace' value='" + data + "'><span class='lbl'></span></label>";
                            }
                        },
                        {data: 'id'},
                        {data: 'nickname'},
                        {data: 'card_number'},
                        {data: 'money'},
                        {
                            data: 'create_time',
                            render: function (data, type, full, meta) {
                                return data;
                            }
                        },
                        {data: 'handing_time'},
                        {
                            data: 'status',
                            render: function (data, type, full, meta) {
                                if (data == 0) {
                                    return "申请中";
                                }
                                if (data == 1) {
                                    return "审核通过，已转账";
                                }
                                if (data == 2) {
                                    return "审核不通过";
                                }
                            }
                        },
                        {data: 'remark'},
                        {
                            data: 'id',
                            render: function (data, type, full, meta) {
                                return "<button onclick='tongguo(this)' oid='" + data + "' class='btn btn-info btn-sm'>审核通过</button> " +
                                        "<button onclick='butongguo(this)' oid='" + data + "' class='btn btn-purple btn-sm'>审核不通过</button>";
                            },
                            orderable: false
                        }
                    ],

                    "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.

                    "pageLength": 10, // default record count per page

                    "ajax": {
//                    "url": "./list", // ajax source: default current url
                    },
                    "order": [
                        [1, "asc"]
                    ],// set first column as a default sort by asc,

                    deferRender: true,
                    scroller: {
                        loadingIndicator: true
                    }
                }
            });

            // handle group actionsubmit button click
            grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
                e.preventDefault();
                var action = $(".table-group-action-input", grid.getTableWrapper());
                if (action.val() != "" && grid.getSelectedRowsCount() > 0) {
                    grid.setAjaxParam("customActionType", "group_action");
                    grid.setAjaxParam("customActionName", action.val());
                    grid.setAjaxParam("id", grid.getSelectedRows());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                } else if (action.val() == "") {
                    /* App.alert({
                     type: 'danger',
                     icon: 'warning',
                     message: 'Please select an action',
                     container: grid.getTableWrapper(),
                     place: 'prepend'
                     });*/
                } else if (grid.getSelectedRowsCount() === 0) {
                    /* App.alert({
                     type: 'danger',
                     icon: 'warning',
                     message: 'No record selected',
                     container: grid.getTableWrapper(),
                     place: 'prepend'
                     });*/
                }
            });

            //grid.setAjaxParam("customActionType", "group_action");
            //grid.getDataTable().ajax.reload();
            //grid.clearAjaxParams();
        }

        $(function () {
            fnInitTable();
            function tongguo(v) {
                var dialog = $("#dialog-message").removeClass('hide').dialog({
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i>确认已经转账了吗？</h4></div>",
                    title_html: true,
                    buttons: [
                        {
                            text: "取消",
                            "class": "btn btn-minier",
                            click: function () {
                                $(this).dialog("close");
                            }
                        },
                        {
                            text: "提交",
                            "class": "btn btn-primary btn-minier",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }
        });
    </script>
</th:block>
</body>
</html>
