<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/base}">
<head>
    <title>首页</title>
</head>
<body>

<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">主页</a>
    </li>
    <li>
        <a href="#">INDEX</a>
    </li>
    <li class="active">Blank Page</li>
</ul>

<div layout:fragment="content" style='border:solid 1px red;'>

<!--/*
    <h1>admin index,调用Spring Bean测试: <span th:text="${@systemParamService.add(100,22)}"></span> </h1>

<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    Logged in user: <span sec:authentication="name"></span> |
    Roles: <span sec:authentication="principal.authorities"></span>
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
*/-->

</div>

</div>

</body>
</html>